ul{
   list-style-type:none;
   margin:0px;
   padding:0px;
   overflow:hidden;
   background-color:white;
   height:40px;
   width:100%;
   text-align: center;
   border-bottom:2px solid #4552C1;
   }
ul li {	  
    padding-top:0px;
    padding-left:0px;
    border-right:1px solid black;
    float:left;
    color:#000000;
    background-color:white;
}
ul li a{ 
        display:block;
		padding:10px 15px;
		
	}
ul li a:hover{
    background-color:#4552C1;
    color:#FFFFFF;
}	

.box1{
      width:50%;
	  height:840px;
	  background:white;
	  margin-left:0%;
	  margin-top:0px;
	  position:absolute;
	 }
.box2{
      width:49%;
	  height:840px;
	  background:#D0D3F0;
	  margin-left:50%;
	  text-align:center;
	  margin-top:0px;
	  position:absolute;
	 }
.p{
	  width:500px;
	  margin-left:50px;
	  margin-top:0px;
	  text-align:left;
}
.h1{
	  font-size:50px;
	  width:500px;	  
	  margin-left:50px;
	  margin-top:150px;
	  color:#4552C1;
      text-align:left;
}
h2{
	 font-size:20px;
	  width:50px;	  
	  margin-left:1300px;
	  margin-top:10px;
	  color:black;
          text-align:right;
}

.footer{
	   display:inline-block;
       background-color:#B9C0FD1A;
	   border-top:2px solid #4552C1;
	   color:#8563C9;
	   width:100%;
	   height:50px;
	   margin-top:840px;
	   }
.logintxt{
	 font-size:40px;
     text-align:center-left;
     color:#4552C1;
     margin-top: 200px;
	 margin-left:0px;
}
.regtxt{
	font-size:40px;
	color:#4552C1;
	text-align:center;
        margin-top: 200px;
	
}
.box3{
      width:30%;
	  height:840px;
	  background:white;
	  margin-left:0%;
	  margin-top:0px;
	  position:absolute;
	 }
.box4{
      width:70%;
	  height:840px;
	  background:#D0D3F0;
	  margin-left:30%;
	  text-align:center;
	  margin-top:0px;
	  position:absolute;
	 }
         
#box5{
	width:100%;
	height:100px;
	border-top:2px solid #4552C1;
	border-bottom:2px solid #4552C1;
	margin-top:100px;
	position:absolute;
	background:url("milk.png")no-repeat;
	background-size:contain;
	background-origin:content-box;
	background-color:#B9C0FD1A;
	
}	 
#box6{
	width:100%;
	height:100px;
	border-top:2px solid #4552C1;
	border-bottom:2px solid #4552C1;
	margin-top:200px;
	position:absolute;
	background:url("B1.png")no-repeat;
	background-size:contain;
	background-origin:content-box;
	background-color:white;
	
}	 
.box7{
    width:100%;
    height:840px;
    background-color: #eff0fc;
    position:absolute;
}
.pp{
	  width:500px;
	  margin-left:50px;
	  margin-top:0px;
	  text-align:left;
}
.hh1{
	  font-size:30px;
	  width:300px;	  
	  margin-left:50px;
	  margin-top:200px;
	  color:#4552C1;
      text-align:left;
}

#itmbox2{
    width:300px;
    height:300px;
    margin-left:550px;
    margin-top:-300px; 
   /* background:url("milk.png")no-repeat;*/
    background-size:contain;
    background-origin:content-box;
    background-color: white;
     border:1px solid black;
}
#itmbox3{
    width:250px;
    height:300px;
    margin-left: 950px;
    margin-top: -300px;
    background:url("m1.jpg")no-repeat;
    background-size:contain;
    background-origin:content-box;
    background-color: white;
}
#itmbox4{
    width:250px;
    height:300px;
    margin-left: 1350px;
    margin-top: -300px;
    background-color: white;
}

.form
{
    width:300px;
    margin:0 auto;
}
input[type='text'],input[type='password'],input[type='email']
{
    width:250px;
    border-radius: 2px;
    border:1px solid #ccc;
    padding:10px;
    color:#333;
    font-size: 14px;
    /*margin-top: 10px;*/
}
input[type="submit"]
{
    padding:10px 25px 8px;
    color:white;
    background-color:#4552C1;
    text-shadow:rgba(0,0,0,0.24)0 1px 0;
    font-size:19px;
    font-weight:bold;
    box-shadow:rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border-radius:2px;
    /*margin-top:20px;
    margin-left:200px;*/
    cursor:pointer;
}
input[type='submit']:hover
{
      color:#4552C1;
    background-color:greenyellow;
  
}
.listings{
    padding: 100px;
}
.listings ul.properties_list{
    list-style: none;
    overflow:hidden;
    
}
.listings ul.properties_list li{
    display:block;
    width: 30%;
    height: auto;
    position: relative;
    float: left;
    margin: 0.3% 3.6%;
    
}
.listings ul.properties_list li img.property_img{
    width: 100%;
    height:auto!important;
    vertical-align:top;
    
}
.listings ul.properties_list li.price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold",Helvetica, Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    
}
.listings ul.properties_list li:nth-child(3n+0){
    margin-right: 0;
    
}

    
    
    
    
    
